/* profile.css */

#profile-page {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

#profile-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px;
}

.profile-form .form-row {
  display: flex;
  flex-direction: column; /* każdy label nad inputem */
}

.profile-form label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-form input {
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 5px 0;
  width: 75%;
  outline: none;
  transition: border-color 0.3s;
}

.profile-form input:focus {
  border-bottom-color: #4caf50;
}

.profile-form input:disabled {
  border-bottom-color: #aaa;
  background-color: transparent;
  color: #666;
}

.profile-form button {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.profile-form button:hover {
  background-color: #45a049;
}

#profile-msg {
  text-align: center;
  font-weight: bold;
  color: #333;
}
